@model Datos.Model.Vehiculo

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chasis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chasis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CedulaClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CedulaClienteNavigation.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoVehiculoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoVehiculoNavigation.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Placa">Editar</a> |
    <a asp-action="Index">Atras</a>
</div>
